body {
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h1 {
    color: rgb(85, 57, 136);
}

.main {
    height: 50%;
    width: 50%;
    background-color: rgb(253, 253, 253);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main input[type="text"]{
    height: 16%;
    width: 40%;
    background-color: rgb(198, 255, 203);
    font-size: xx-large;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16%;
}
.container {
    height: 84%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container input[type="button"]{
    height: 25%;
    width: 20%;
    font-size : 3em;
    font-family: 'Courier New', monospace;
    color: rgb(233, 243, 212);
    background-color: rgb(95, 149, 248);
    border-radius: 16%;
    margin: 0px -2px 0 -2px;

}

.container input[class="operation"]{
    width: 40%;
}

.container input[type="button"]:hover{
    background-color: rgba(170, 134, 177, 0.966);
    color: black;
    cursor: pointer;
}

.container input[type="button"]:active{
    background-color: rgb(44, 15, 73);
    color: rgb(194, 181, 181);
    cursor: grabbing;
}


@media screen and (max-width: 1680px) {
    .container input[type="button"]{
        font-size: 2em;
    }

    .main {
        height: 80%;
        width: 80%;
    }
    .main input[type="text"]{
        width: 80%;
    }
    .container{
        width: 80%;
    }

}

@media screen and (max-width: 800px) {
    .container input[type="button"]{
        font-size: 1.4em;
    }

    .main {
        height: 80%;
        width: 100%;
    }
    .main input[type="text"]{
        width: 100%;
    }
    .container{
        width: 100%;
    }


}